@{
    ViewData["Title"] = "Tac gia";
}
<h1 class="text-success text-center m-4">@ViewData["Title"]</h1>
<header class="bg-white py-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <img src="https://scontent.fhan19-1.fna.fbcdn.net/v/t1.6435-9/127003502_2806185459652868_6362636301874462717_n.jpg?stp=dst-jpg_s960x960&_nc_cat=111&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=Lma1H2YCmEQAX9CXiSc&_nc_ht=scontent.fhan19-1.fna&oh=00_AfDBmjpoOpucJ2W5qvjwwrmkl4y-Y_01Z-dVygkIEpr3aA&oe=641A1E76" class="card-img-top" width="100" height="700" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pham Manh Truong</h5>
                    <p class="card-text">Day la Truong</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://scontent.fhan19-1.fna.fbcdn.net/v/t39.30808-6/328519260_1817175475321435_6443575821882788220_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=L-dUayNHrr0AX9bOruI&_nc_oc=AQn1eMvMR6YkP-DFizm-0Baho8A3IQ3pG0YGtwBAZEp3cYneuKv9_9Vz62pycxs7dGw&tn=l6s9o3EujvPgo0kK&_nc_ht=scontent.fhan19-1.fna&oh=00_AfDQVR7FZ_02wL_jC5NgD9h1cz1sspijx7jqnVp4HaOsQg&oe=63F732E1" class="card-img-top" width="100" height="700" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nguyen Duc Minh</h5>
                    <p class="card-text">day la minh</p>
                </div>
            </div>
        </div>
    </div>
</header>